<div>
  <%= form_for([@teacher,@student]) do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@student.errors.count, "error") %> El estudiante no se a podido guardar</h2>
        <ul>
          <% @student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='form-group'>
      <%= f.label :username, 'Username' %><br>
      <%= f.text_field :username %>
    </div>

    <div class='form-group'>
      <%= f.label :name, 'Nombre' %><br>
      <%= f.text_field :name %>
    </div>

    <div class='form-group'>
      <%= f.label :birthdate, 'Fecha de Nacimiento' %><br>
      <%= f.date_select(:birthdate, start_year: 2005, end_year: Date.current.year)%>
    </div>

    <div class='form-group'>
      <%= f.label :password, 'Contraseña' %><br>
      <%= f.password_field :password %>
    </div>

    <div class='form-group'>
      <%= f.label :avatar, 'Foto' %><br>
      <%= f.file_field :avatar %>
    </div>

    <div class='form-group'>
      <%= f.submit "Agrega", class: 'btn btn-info' %>
    </div>
  <% end %>
</div>
