<div>
  <%= form_for([@teacher,@student]) do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@student.errors.count, "error") %> El estudiante no se a podido guardar</h2>
        <ul>
          <% @student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='form-group'>
      <%= f.label :password, 'Contraseña' %><br>
      <%= f.password_field :password %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirmar Contraseña' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class='form-group'>
      <%= f.submit "Actualizar Contraseña", class: 'btn btn-success' %>
      <%= link_to "Regresar", user_student_path(@teacher, @student), class: 'btn btn-info' %>
    </div>
  <% end %>
</div>
