<h1>Progreso Detallado de <%="#{@student.username}" %></h1>
<br></br>

<div>
  <p><%= image_tag @student.avatar.url(:thumb) %></p>
</div>

<div>
  <p>Nombre: <%= @student.name %></p>
</div>

<div>
  <p>Edad: <%= Date.current.year - @student.birthdate.year %> años</p>
</div>

<div>
  <p>Número de intentos: </p>
</div>

<div>
   <%= link_to 'Editar', edit_user_student_path(@teacher, @student), class: 'btn btn-success' %>
   <%= link_to 'Cambiar Contraseña', user_student_edit_password_path(@teacher, @student), class: 'btn btn-success' %>
   <%= link_to 'Eliminar', [@teacher, @student], class: 'btn btn-danger', method: :delete, data: { confirm: '¿Estás seguro?' } %>
</div>

